.flexbox {
  display: flex;
  justify-content:space-between; /* Horizontālais līdzinājums */
  align-items:flex-start; /*Vertikālais līdzinājums*/
  gap: 30px;
  margin: 20px auto;
  flex-wrap: wrap;
 display: flex;
  justify-content: space-between; /* Novietojam blokus ar atstarpi starp tiem */
  align-items: flex-start; /* Līdzinām blokus augšpusē */
  gap: 30px;
  margin: 20px auto;

}
.teksts {
margin: 20px;
}



.teksts .slider-container {
  flex: 1 1 50%;
  width: 45%;
  box-sizing: border-box;
  }